<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="2" > <!-- verbose - уровень подробности логирования -->
    <test name="test1" >
        <classes>
            <class name="Recruitment.RecruitmentTest" />
        </classes>
    </test>

    <test name="">
        <classes>

        </classes>
    </test>
</suite>
